.stream-container {
  padding: 0;
}

html {
  font-size: 15px;
}

/* 
	<div className="userScreen"> 사이드바가 표시되는 화면
	<div className="userScreen collapse"> 사이드바가 숨겨지는 화면.

*/

.userScreen {
  position: relative;
}

.userScreen > .sidebar {
  background-color: antiquewhite;
  /* 사이드 바는 화면을 기준으로 배치 */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16%;

  padding: 1rem;

  z-index: 9999;
}

.userScreen > .contents {
  background-color: azure;

  /* contents는 메인페이지(.container)를 기준으로 배치 */
  position: absolute;
  left: 15rem;
  right: 0;
  top: 0;
  padding: 1rem;
}
