video {
  /* width: 100%; */
  /* height: auto; */
  float: left;
  cursor: pointer;
  border-radius: 0.5rem;
}
.streamcomponent div {
  position: absolute;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}
p {
  margin: 0;
}
