.dashboardContainer {
  display: flex;
}
.dashboardProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboardProfilePic {
  width: 192px;
  height: 192px;
  border: 1px solid black;
}
.dashboardProfileName {
  text-align: center;
  width: 192px;
  height: 32px;
}
.dashboardProfileFollow {
  width: 300px;
  height: 80px;
}
.dashboardProfileLine {
  text-align: center;
  width: 328px;
  height: 80px;
}
.dashboardProfileSkill {
  width: 380px;
  height: 120px;
}
.dashboardProfileBadge {
  width: 380px;
  height: 120px;
}
.dashboardProfileList {
  font: bold;
  font-size: medium;
}
.StudyRecordContainer {
  margin-top: 50px;
  margin-left: 50px;
  width: 820px;
  height: 336px;
}
.StudyRecordbox {
  display: flex;
  align-items: center;
  width: 1128px;
  height: 304px;
  background-color: #ededed;
}
.StudyRecordTime {
  width: 744px;
  height: 256px;
  background-color: white;
  margin-left: 24px;
  border-radius: 15px;
}
.StudyRecordStrick {
  width: 314px;
  height: 257px;
  background-color: white;
  margin-left: 24px;
  border-radius: 15px;
}
.MyStudycontainer {
  width: 1128px;
  height: 376;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.MyStudybox {
  display: flex;
  align-items: center;
  width: 1128px;
  height: 376px;
  background-color: #ededed;
}
.MyStudyMake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color: white;
  margin-left: 24px;
}
.MyStudyMakeLogo {
  width: 100px;
  height: 100px;
}
.MyStudyList {
  width: 700px;
  height: 280px;
  background-color: white;
  margin-left: 40px;
}
.StudyMakeContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.StudyMakeTitle {
  margin-top: 88px;
  font-size: 44px;
  font: bold;
}
.StudyMakeTitle:after {
  content: "";
  display: block;
  width: 240px;
  border-bottom: 4px solid #8a6bcd;
  margin-top: 15px;
  margin-bottom: 30px;
  /* box-shadow: 0px 4px 2px gray; */
}
.StudyMakebox {
  margin-bottom: 30px;
  margin-left: 18px;
}
.StudyMakeLabel {
  font-size: 30px;
  margin-bottom: 15px;
}
.StudyTitleinput {
  width: 752px;
  height: 48px;
  border-radius: 25px;
  /* box-shadow: 5px 5px 5px gray; */
  border: 1px solid rgb(189, 188, 188);
  padding-left: 10px;
  font-size: 20px;
}
.StudyDescriptioninput {
  width: 752px;
  height: 240px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px gray; */
  padding: 10px;
  font-size: 20px;
}
.publicbutton {
  width: 100px;
  height: 40px;
  border: solid 3px #8a6bcd;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
  font-size: 18px;
}
.publicbutton:hover {
  background-color: #8a6bcd;
  color: white;
}
.StudymakeSubmit {
  width: 152px;
  height: 56px;
  background-color: #8a6bcd;
  color: white;
  font-size: large;
  border: 0px;
}
