.loginidIdform {
  margin: 4rem;
}

.loginidEmailform {
  width: 30rem;
  height: 5rem;
}

.loginidTextform {
  height: 2.2rem;
  width: 80%;
  font-size: large;
  border-radius: 5px;
}

.loginidText {
  font-size: 20px;
  margin-bottom: 2rem;
  padding-left: 2mm;
}

.loginidMarginup {
  margin-top: 0.7rem;
}

::placeholder {
  color: #988181c4;
  font-size: 20px;
  padding-left: 2mm;
}
.loginidCheckboxform {
  position: relative;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  top: 0.5rem;
}

.loginidBtnform {
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
}

.loginidBottom {
  /* display: flex;
  width: 25rem;
  justify-content: space-between; */
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100%;
}

.loginidText_link {
  color: inherit;
  text-decoration: inherit;
}

.loginidText_link:hover {
  color: blue;
}
