.RankDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #eae3f4;
  padding: 5vh 0 5vh 0;
}

.RankNameBox{
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #8a6bcd;
  width: 40vw;
  height: 6vh;
  padding: 0 0 0 30px; 
  margin: 10px 0 10px 0;
}

.RankMainContainer {
  margin: 10vh 5vw 10vh 5vw;
}

.RankSwitchBarContainer {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin: 0 20px 10px 0;
}

.RankSwitchBarLink {
  color: inherit;
  text-decoration: inherit;
}
