.StudyDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StudyDetailback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-image: url(../../assets/image/background1.jpg);
}
.StudyDetailName {
  color: white;
  font-size: 50px;
}
.StudyBtn {
  margin-top: 40px;
  text-align: center;
  padding: 18px 28px 18px 32px;
  width: 168px;
  height: 64px;
  background: #8a6bcd;
  border-radius: 30px;
  border: 0px;
  color: white;
  font-size: 20px;
}
.studyDetailInside {
  margin-top: 50px;
  width: 60%;
}
.studySwitchbarContainer {
  width: 80%;
}
.studyHr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #8a6bcd;
  height: 1px;
  border: 0;
}
.studyInfoContainer {
  font-size: 20px;
}
.studyInfoSpan {
  margin-right: 40px;
}
