.StudyDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StudyDetailback {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.StudyDetailName {
  color: white;
  font-size: 50px;
}
.StudyBtn {
  margin-top: 40px;
  text-align: center;
  padding: 18px 28px 18px 32px;
  width: 168px;
  height: 64px;
  background: #8a6bcd;
  border-radius: 30px;
  border: 0px;
  color: white;
  font-size: 20px;
}
.studyDetailInside {
  margin-top: 50px;
  width: 80%;
}
/* .studyDetailInside:active {
  color: aqua;
} */

.studySwitchbarContainer {
  width: 80%;
}

.studyHr {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #8a6bcd;
  height: 1px;
  border: 0;
}
.studyInfoContainer {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.studyInfoSpan {
  margin-right: 40px;
}

.studyContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.studyContentTitle {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
