.topbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.topbar_left {
  display: flex;
  align-items: center;
}

.section {
  margin-right: 5rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 1rem;
  width: 280px;
  height: 100px;
}

.vector {
  margin-right: 1rem;
}

.text_link {
  color: inherit;
  text-decoration: inherit;
  font-size: 22px;
}
@media (max-width: 1200px) {
  .text_link {
    font-size: 12px;
  }
}

.text_link:hover {
  color: blue;
}
