.topbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  font-size: 24px;
  align-items: center;
  text-align: center;
  background-color: white;
}
.topbar_left {
  display: flex;
  align-items: center;
}

.section {
  margin-right: 5rem;
  display: inline-flex;
  align-items: center;
}

.logo {
  margin-left: 1rem;
}

.text_link {
  color: #8A6BCD;
  text-decoration: inherit;
}

.text_link:hover {
  color: #cabbe7;
}

.logintext {
  position: absolute;
  margin: 0 0 0 85px;
}

.logouttext {
  position: absolute;
  margin: 0 0 0 75px;
}

.login {
  display: flex;
  align-items: center;
}