.container {
  /* 모달창 크기 */
  width: 22rem;
  height: 10rem;
  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* 모달창 디자인 */
  background-color: #46e88b;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}