.drawing {
  left: 21.5%;
  z-index: 9999999;
  position: absolute;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  display: flex;
  margin-right: 5px;
  background-color: white;
  border-radius: 5px;
  border-color: #b29ae3;
}

.input {
  border-radius: 5px;
  border-color: #b29ae3;
}
