.BadgeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BadgeHr {
  width: 95vw;
  border: solid 1px #8a6bcd;
}

.BadgeBox {
  display: flex;
}
.BadgeMyList {
  width: 100px;
  margin-right: 30px;
}
